@charset "utf-8";
/* CSS Document */

.container{
	width: 1600px;
	height: 4000px;
	background-color: dimgray;
	margin: 0 auto;
}

.header{
	width: 1600px;
	height: 130px;
	background-color: lightblue;
}

ul{
	list-style: none;
}

ul li{
	float: right;
	padding: 50px 210px 30px 40px;
	margin: auto;
}

ul li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-family:'iCiel Gotham Medium';
	
}

ul li:hover{
	background-color: aliceblue;

}

.logo{
	width: 300px;
	height: 130px;
	background-color: white;
	float: left;
}

.menu{
	width: 1300px;
	height: 130px;
	background-color: cornflowerblue;
	float: right;
}

.slider {
	width: 1600px;
	height: 780px;
	background-color: darkgray;
}

.diver {
	width: 1600px;
	height: 500px;
	background-color: #003366;
}

.diver_ver2{
	width: 1600px;
	height: 500px;
	background-color: #99ccff;
}

.chuaitem{
	width: 80%;
	height: 620px;
	background-color: #99ccff;
	padding: 0 10% 0 10%;
	display: flex;
  	justify-content: center;
	align-items: center;
  	
}
.chuaitem2{
	width: 80%;
	height: 620px;
	background-color: aliceblue;
	padding: 0 10% 0 10%;
	display: flex;
  	justify-content: center;
	align-items: center;
  	
}
.item{
	width: 33%;
	height: 424px;
	float: left;
	border: 0.5px #D2EBFF outset;
	background-color: darkgray;
	
}

.introtext {
	color: white;
	font-size: 30px;
	font-family: "iCiel Gotham Ultra";
	text-align: center;
	}
.text{
	align-content: center;
	font-size: 18px;
	font-family:"iCiel Gotham Thin";
	color: white;
	text-align: center;
	margin: 5px 10px;
}

.menuwork{
	width: 1600px;
	height: 1240px;
	background-color: slategray;
}

.help{
	width: 1600px;
	height: 500px;
	background-color: lightgray;
	}